In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
name = ['Messi','Ronaldo','Neymar','Hazard','De Bruyne']
kit_number = [10, 7, 10, 7, 17]
rating = [93, 93, 92, 91, 91]

In [4]:
df= pd.DataFrame({
  'Name':name,
  'Kit_Number':kit_number,
  'Rating':rating
})
df

        Name  Kit_Number  Rating
0      Messi          10      93
1    Ronaldo           7      93
2     Neymar          10      92
3     Hazard           7      91
4  De Bruyne          17      91