In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\sherw\appdata\local\programs\python\python313\lib\site-packages (3.9.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sherw\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\sherw\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sherw\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sherw\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\sherw\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.2.0)
Requirement already satisfied: packaging>=20.0 in c:\users\sherw\appdata\roaming\python\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\sherw\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sherw\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sherw\appdata\roaming\python\python313\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\sherw\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
name = ['Messi','Ronaldo','Neymar','Hazard','De Bruyne']
kit_number = [10, 7, 10, 7, 17]
rating = [93, 93, 92, 91, 91]

In [4]:
df= pd.DataFrame({
  'Name':name,
  'Kit_Number':kit_number,
  'Rating':rating
})
df

        Name  Kit_Number  Rating
0      Messi          10      93
1    Ronaldo           7      93
2     Neymar          10      92
3     Hazard           7      91
4  De Bruyne          17      91